{% extends "base.html" %}
{% load static%}                    <!--Static altindaki olusturulan dosyalara erisiim-->
                                    <!--Setting dosyasinda en altta static url -->
{% block content %}
<h2>Add Tweet by MODEL FORM Content Deneme 1</h2>

<div class="container tweetform">
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3"> 
                {{field.label_tag}}
                {{ field}}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Sent Tweet</button>
    </form>
</div>


{% endblock %}